h1{
    text-align: center;
}
#profile_image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}
body div{
    text-align: center;
}

body div ul{
    font-weight: bold;
    font-size: 20px;
}
li{
    font-size: 15px;
}